@import "../includes/icons";
@import "../includes/variables";
@import "../includes/font";
details {
    margin: 16px 0 16px 16px;
    &>summary {
        cursor: pointer;
        max-width: max-content;
        margin-left: -16px;
        outline: none;
        color: $greyPrimary;
        font-size: 1.1rem;
        line-height: 32px;
        vertical-align: middle;
        &::-webkit-details-marker {
            display: none;
        }
        &::before {
            // TODO: Not happy about adding ::before element to show the icon, because the user may want to use ::before himself.
            // Once a cross browser standard emerged the ::after element should be removed or move inside the actual markers pseudo-element.
            padding: 4px;
            @extend %icon;
            content: "expand_more";
            font-size: 24px;
        }
    }
    &[open] {
        &>summary {
            color: var(--colorPrimary);
            &::before {
                content: "expand_less";
            }
        }
    }
}