@import "../includes/font";
@import "../includes/variables";
html {
    color: $greySecondary;
    background-color: $greyBackground;
    font-size: 14px;
    font-family: $fontFamily;
    font-weight: $fontWeightRegular;
}