@import "../includes/icons";
@import "../includes/variables";
@import "../includes/button";
@import "../includes/input";
input[type="button"] {
    @extend %button;
}

input:not([type="button"]) {
    margin: 8px;
    &[type="checkbox"],
    &[type="radio"] {
        position: relative;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 16px;
        height: 16px;
        outline: none;
        background-color: white;
        &::after {
            width: 21px;
            height: 21px;
            font-size: 21px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            @extend %icon;
            color: $greyPrimary;
        }
        &:disabled::after {
            color: $greyDisabled;
        }
        &[type="checkbox"]:not(:checked)::after {
            content: "check_box_outline_blank";
        }
        &[type="checkbox"]:checked::after {
            content: "check_box";
        }
        &[type="checkbox"]:indeterminate::after {
            content: "indeterminate_check_box";
        }
        &[type="radio"]:not(:checked)::after {
            content: "radio_button_unchecked";
        }
        &[type="radio"]:checked::after {
            content: "radio_button_checked";
        }
    }
    &:not([type]),
    &[type="color"],
    &[type="date"],
    &[type="datetime-local"],
    &[type="email"],
    &[type="file"],
    &[type="month"],
    &[type="number"],
    &[type="password"],
    &[type="tel"],
    &[type="text"],
    &[type="url"],
    &[type="week"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        @extend %fontinput;
        @extend %textinput;
    }
}

input[type="date"] {
    &::-webkit-inner-spin-button {
        display: none;
        -webkit-appearance: none;
    }
}