@import "../includes/variables";
@import "../includes/font";
table {
    display: block;
    margin: 0;
    width: max-content;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    color: $greyPrimary;
    font-size: 0.9rem;
    tr:not(:last-of-type),
    thead>tr {
        border-bottom: 1px solid $greyDivider;
    }
    tfoot>tr {
        border-top: 1px solid $greyDivider;
    }
    tr {
        height: 48px;
        th,
        td {
            font-weight: $fontWeightRegular;
            border: none;
            padding: 0 24px;
            display: table-cell;
            text-align: left;
            vertical-align: middle;
            border-radius: 2px;
        }
    }
    thead>tr>td,
    tfoot>tr>td,
    th {
        font-size: 0.85rem;
        color: $greySecondary;
    }
    thead,
    tfoot {
        tr {
            height: 56px;
        }
    }
}