@if not global-variable-exists(__import_icons__) {
    $__import_icons__: true !global;
    @font-face {
        font-family: 'Material Less Icons';
        font-style: normal;
        font-weight: 400;
        src: local('Material Icons'), local('MaterialIcons-Regular'), url(icons.woff) format('woff');
    }
    %icon {
        font-family: 'Material Less Icons', 'Material Icons';
        font-weight: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        vertical-align: middle;
        text-rendering: optimizeLegibility;
        font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}