@import "../includes/variables";
@if not global-variable-exists(__import_input__) {
    $__import_input__: true !global;
    %fontinput {
        font-family: $fontFamily;
        font-weight: $fontWeightRegular;
        font-size: 1.15rem;
        color: $greyPrimary;
        &:disabled {
            color: $greyDisabled;
        }
    }
    %textinput {
        outline: none;
        border: none;
        box-sizing: border-box;
        border-bottom: 1.5px solid $grey38;
        padding: 0 0 4px 0;
        background-color: transparent;
        &:placeholder,
        &:-ms-placeholder,
        {
            color: $greyDisabled;
        }
        &:disabled {
            border-bottom-style: dashed;
        }
        &:not(:disabled) {
            &:hover {
                border-bottom-color: $greyPrimary;
            }
            &:focus {
                border-bottom-color: var(--colorPrimary);
            }
            &:invalid {
                border-bottom-color: red;
            }
        }
    }
}