@if not global-variable-exists(__import_variables__) {
    $__import_variables__: true !global;
    // Common greys in material design spec
    $grey87: rgb(33, 33, 33) !global;
    $grey54: rgb(117, 117, 117) !global;
    $grey38: rgb(158, 158, 158) !global;
    $grey12: rgb(224, 224, 224) !global;
    // Semantic names for greys
    $greyPrimary: $grey87 !global;
    $greySecondary: $grey54 !global;
    $greyDisabled: $grey38 !global;
    $greyDivider: $grey12 !global;
    // Use CSS variables for primary color, so the user can redeclare them. Use
    // https://material.io/color to generate the light and dark variants for a given primary 
     :root {
        --colorPrimary: #2196F3;
        --colorPrimaryLight: #6ec6ff;
        --colorPrimaryDark: #0069c0;
    }
    // Standard elevation (2dp) via box-shadow for buttons, cards, etc
    $elevation-standard-box-shadow: '0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)' !global;
    // High elevation (4dp) via box-shadow for drawers and modals 
    $elevation-high-box-shadow: '0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);' !global;
}